<% include ./partials/header %>

<div class=" container main-posts">
  <% posts.reverse().forEach(function(post){%>
    <article class=" container post">
      <header class="post-head text-center">
        <time 
          class="text-uppercase post-date" 
          datetime="<%= post.created %>"><%= post.created.toDateString() %></time>
        <h3 class="post-title"><%= post.title %></h3>
      </header>
      <div class="post-body">
        <div class="entry">
          <p><%- post.entry %></p>
        </div>
        <div class="post-actions text-center">
          <a href="/posts/<%= post._id %>" class="btn btn-outline-info btn-sm" role="button">Read More</a>
        </div>
      </div>
    </article>
  <%});%>
  <a href="/posts/new" class="btn btn-primary btn-lg" role="button">New Post</a>
    
</div>    

<% include ./partials/footer %>
