<% include ./partials/header %>

<h1><%= post.title%></h1>
<p><%- post.entry %></p>
<p><%= post.created.toDateString() %></p>

<a class="btn btn-xs btn-warning" href="/posts/<%= post._id %>/edit">Edit</a>
<form class="delete-form" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
  <button class="btn btn-xs btn-danger">Delete</button>
</form>


<a class="btn btn-xs btn-primary" href="/posts">Back</a>

<% include ./partials/footer %>